:root {
  --light: #ffeeee;
  --dark-0: #282828;
  --dark-1: #333333;

  /* tonal 600 */
  --primary-600: #f03b38;
  --compliment-600: #00c0cf;
  /* tonal 400 */
  --primary-400: #f95553;
  --compliment-400: #00d9e5;
  /* tonal 200 */
  --primary-200: #f59c9d;
  --compliment-200: #38edf0;
}

body {
  /* see https://leaverou.github.io/css3patterns/#carbon-fibre */
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
